body {
	display: flex;
	flex-direction: column;
	text-align: center;
	overflow-y: scroll;
}

.flexbox {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
}

.item{
	flex-grow: 1;
	min-width: 33.33%;
}