.container{
	display: flex;
	justify-content: space-around;
}

.item-1{
	display: flex;
	width: 200px;
	height: 200px;
	background-color: red;
	align-items: center;
	justify-content: center;
}

.item-2{
	display: flex;
	width: 100px;
	height: 100px;
	background-color: blue;
}